<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">K's Kitchen</a>
      <div id="navcontainer">
        <ul class="links">
          <li><a href="#" style="color:#d3d3d3">Home</a></li>
          <li><a href="#" style="color:#d3d3d3">Recipes</a></li>
          <li><a href="#" style="color:#d3d3d3">Ingredients</a></li>
          <li><a href="#" style="color:#d3d3d3">Photos</a></li>
          <li><a href="#" style="color:#d3d3d3">About</a></li>
        </ul>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><button class="btn sm cta">Log In</button></li>
        <li><button class="btn sm ghost">Sign Up</button></li>
        <li><form class="navbar-form navbar-left" role="search">
          <div class="search">
            <span class="fa fa-search"></span>
            <input placeholder="Search">
          </div>
        </form></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
