<div class="stuff">
  <div class="tint">
  <img src="http://cdn1.koreanbapsang.com/wp-content/uploads/2015/01/DSC_0607.jpg" class="img-responsive" alt="Responsive image">
  </div>

  <div id="content">
    <div>
      <p class="name">K's Kitchen</p>
    </div>
    <div>
    <p>
      This site provides a collection of delicious Korean recipe's from everday people.  You can try it out yourself, vote, and comment.
    </p>
    </div>
    <div>
      <button>Get Started</button>
      <button>Browse Recipe's</button>
    </div>
  </div>
</div>

